@using StortfordArchers.Models.ViewModels

@model UpcomingEventsIdViewModel

@if (Model.UpcomingEventsBlockId == Guid.Empty || Model.PageId == Guid.Empty)
{
    return;
}

<div class="row" style="max-width:1000px;margin:auto;">

    <div class="col-12">
        <div class="bold large-bottom-padding align-center text-large">Upcoming Events</div>
       
    </div>
</div>

<div class="align-center upcoming-spinner">
    <img src="/assets/ajax-loader.gif" />
</div>

<div class="upcoming-events">
    
        <div class="upcoming-events-placeholder">
      
    </div>
</div>
<input type="hidden" value="@Model.UpcomingEventsBlockId" id="upcoming-events-block-id" />
<input type="hidden" value="@Model.PageId" id="page-id" />


<script type="module">
    import {setupUpcomingEvents} from '/js/Calendar.js';
    setupUpcomingEvents();
</script>