.btn {
    &.btn-primary {
        background-color: #006400;
        border-color: #006400;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: darken(#c2fbd7, 15%);
            border-color: darken(#c2fbd7, 15%);
        }
    }
}
