@model StortfordArchers.Blocks.TextWithImageBlock

<div class="row">
    <div style="width: 110px; float:left;">
        @if (Model.ImgBody.HasValue)
        {
            <div style="width: 100px;">
                <img src="@Url.Content(Model.ImgBody)" />
            </div>
        }
    </div>

    <div style="float:left; max-width:90%;">
        @Html.Raw(Model.HtmlBody)
    </div>
</div>