@using StortfordArchers.Models.Calendar

@model List<CalendarDetails>

     @for (var count = 0; count < Model.Count; count++)
    {
        var htmlValue = (Model[count].DateVal == DateTime.MinValue ? "&nbsp;" : Model[count].DateVal.Day.ToString());
      <div class="row large-bottom-padding">
          <div class="col-2 bold">@Model[count].DateVal.ToShortDateString()</div>
         
           <div class="col-10">
               @foreach (var c in Model[count].CalItem)
                 {
                       <div class="row">
                           <div class="col-12">
                             <text>@c.Title</text>
                            </div>
                       </div>
                        <div class="row">
                           <div class="col-12">
                             <text>@c.Location</text>
                            </div>
                       </div>
          
                 }
           </div>
      </div>

    }
