@using StortfordArchers.Models
@model ContactPage

@{
    ViewBag.Title = "CONTACT";
}
<div class="container">

    <div class="row">
        <div class="col-sm-10 text-center">
            <h1>CONTACT</h1>
        </div>
    </div>
    <div style="float:left">
        <div class="row large-bottom-margin">
            <div class="col-sm-10 footer-title">
             <h3>   Stortford Archery Club </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                Club meets at:
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                St Mary's Catholic School
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                Windhill
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                Bishop's Stortford
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                CM23 2NQ
            </div>
        </div>
        <div class="row medium-bottom-padding">
            <div class="col-sm-10">
                Please note this is NOT a postal address, but only where we shoot.
            </div>
        </div>
    </div>
    <div style="float:left;" class="medium-left-padding">

        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Windhill,%20Bishops%20Stortord,CM23%202NQ&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="5"></iframe>

                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 400px;
                        width: 500px;
                    }</style>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 400px;
                        width: 500px;
                    }</style>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <form method="post">
        <div class="form large-top-margin">
        <div class="row small-bottom-padding large-top-margin">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="Name" style="width:250px;" placeholder="Enter name" />
                    </div>
                </div>
                <div class="row small-bottom-padding">
                    <div class="col-sm-2">
                        <label asp-for="Phone"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="Phone" style="width:250px;" placeholder="Enter phone number" />
                    </div>
                </div>
                <div class="row small-bottom-padding">
                    <div class="col-sm-2">
                        <label asp-for="Subject"></label>
                    </div>
                    <div class="col-sm-8 small-bottom-padding">
                        <input asp-for="Subject" style="width:250px;" placeholder="Enter a subject" />
                    </div>
                </div>
                <div class="row small-bottom-padding">
                    <div class="col-sm-2">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="Email" style="width:250px;" placeholder="Enter an email address" />
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="row small-bottom-padding">
                    <div class="col-sm-2">
                        <label asp-for="Message"></label>
                    </div>
                    <div class="col-sm-8">
                        <textarea asp-for="Message" style="width:300px;height:150px;" placeholder="Enter a message"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 offset-sm-8">
                <button class="button" asp-controller="Cms" asp-action="Contact">Submit</button>
            </div>
        </div>
    </div>
    </form>

    <div class="row small-bottom-padding">
        <div class="col-sm-10" style="color: #006400; margin-top:10px;">
            In contacting the club you agree to the terms of the clubs GDPR policy.
            A link to which can be found at the bottom of this page.
        </div>
    </div>
    <div class="row small-bottom-padding">
        <div class="col-sm-10">
            @Model.Response
        </div>

    </div>
</div>
