@using StortfordArchers.Models.ViewModels

@model CalendarIdViewModel

@if (Model.CalendarBlockId == Guid.Empty || Model.PageId == Guid.Empty)
{
    return;
}

<script type="module" src="/js/Calendar.js" asp-append-version="true"></script>
<div class= "row">
<div class="col-12 medium-bottom-margin align-center large-calendar">
    <div class="medium-padding align-center">
        <div class="inline-block"><img id="prev-month-large-calendar" src="/assets/left-arrow-6420.svg" class="small-right-margin" width="30px" alt="Left arrow icon" style="cursor: pointer;" /></div>
        <div class="inline-block small-top-padding large-right-padding"><span id="prev-month-name" class="text-xlarge ThemeB2 large-right-margin" style="cursor: pointer;"></span></div>
        <div class="inline-block"><span id="month-name" class="ThemeB2 text-header-2 margin-large-right"></span></div>
        <div class="inline-block small-top-padding large-left-padding"><span id="next-month-name" class="text-xlarge ThemeB2" style="cursor: pointer;"></span></div>
        <div class="inline-block"><img id="next-month-large-calendar" class="small-left-margin" src="/assets/right-arrow-6421.svg" width="30px" alt="Right arrow icon" style="cursor: pointer;" /></div>
        <div class="float-clear"></div>
        <input id="prev-month-value" type="hidden" value="" />
        <input id="next-month-value" type="hidden" value="" />
    </div>
</div>
</div>

<div class="row" style="max-width:1000px;margin:auto;">

    <div class="col-12 monthHeader weekHeader">
        <div class="dayHeader align-center bold">Mon</div>
        <div class="dayHeader align-center bold">Tue</div>
        <div class="dayHeader align-center bold">Wed</div>
        <div class="dayHeader align-center bold">Thu</div>
        <div class="dayHeader align-center bold">Fri</div>
        <div class="dayHeader align-center bold">Sat</div>
        <div class="dayHeader align-center bold">Sun</div>
    </div>
  </div>



<div class="align-center spinner">
    <img src="/assets/ajax-loader.gif" />
</div>
<div class="row">
<div class="col-12">
    <div class="large-calendar-placeholder">
    </div>
</div>
</div>
<input type="hidden" value="@Model.CalendarBlockId" id="calendar-block-id" />
<input type="hidden" value="@Model.PageId" id="page-id" />

<script type="module">
    import {setupLargeCalendar} from '/js/Calendar.js';
    setupLargeCalendar();
</script>

